{% extends 'base.html.twig' %}

{% block title %}NotaResto{% endblock %}

{% block body %}
<div class="container ">
    <ul class="list-unstyled">
        <u>
            <h1 class="text-center text-success p-4">NotaResto</h1>
        </u>
        {% for restaurant in restaurants %}
        
            <li><div class="col-8 my-3">
                {{ restaurant.name }}<br></div>
                <div class="col-8"><small class="">{{ restaurant.description }}</small></div>
            </li> <hr>
        
        {% endfor %}

    </ul>
</div>

{% endblock %}