{% extends 'base.html.twig' %}

{% block title %}Liste des restaurants{% endblock %}

{% block body %}
<u><h1 class="text-center">Listes des restaurants</h1></u>
    <div class="container ">
    <ul class="list-unstyled my-5">
        {% for restaurant in restaurants %}
            <li>
                {{ restaurant.name }} <br> (Moyenne de {{ restaurant.averageRating | number_format(2, ',') }})<br>
                <small>{{ restaurant.description }}</small><hr>
            </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}